/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
  font-family: "Helvetica", sans-serif;
}

/* Header */

/* Hero Section */

.hero {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 180px;
}

h1 {
  font-size: 5em;
}

.hero p {
  font-size: 1.5em;
}

/* Information Section */

.information {
  text-align: center;
}

.information h3 {
  color: #00b172;
}

.information img {
  height: 50px;
  width: 50px;
}

/* Footer Section */

.footer {
  background-color: #00b172;
}
